.CurrentScoreDisplay {
  text-align: center;
  width: 50%;
  background-color: rgba(138, 43, 226, 0.3);
}

.Label {
  color: white;
}

.Score {
  font-weight: bold;
  font-size: 200%;
  line-height: 0px;
  color: white;
}

.Hr {
  border-bottom: 1px solid white;
  width: 60%;
}

.Reset {
  text-align: center;
  background-color: rgba(138, 43, 226, 0.5);
  width: 50%;
}

.ResetScore {
  font-weight: bold;
  font-size: 200%;
  line-height: 0px;
  color: rgb(70, 13, 124);
}
