.HighScoreDisplay {
  text-align: center;
  width: 50%;
  background-color: rgba(146, 125, 2, 0.5);
}

.Label {
  color: white;
}

.Score {
  font-weight: bold;
  font-size: 200%;
  line-height: 0px;
  color: white;
}

.Hr {
  border-bottom: 1px solid white;
  width: 60%;
}

.Increase {
  text-align: center;
  width: 50%;
  background-color: rgb(182, 170, 103);
}

.IncreaseScore {
  font-weight: bold;
  font-size: 200%;
  line-height: 0px;
  color: gold;
}
