.Container {
  height: 45vh;
  background-color: linen;
}

.Container ul {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

li {
  margin: 10px;
  list-style: none;
  justify-items: center;
  padding: 0 1vw;
  height: 100%;
}

.fade-enter {
  border: 20px solid hotpink;
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
