.App {
  text-align: center;
  background: url("./assets/img/bg.jpg"), rgba(40, 0, 20, 0.5);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
