@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes pushUp {
  0% {
    transform: translateY(0px);
    filter: drop-shadow(0px 4px 8px #ffccef) drop-shadow(0px 12px 28px #771166);
  }

  65% {
    transform: translateY(-30px);
    filter: drop-shadow(0px 3px 12px #daccff) drop-shadow(0px 18px 42px #8a2e7a);
  }

  100% {
    transform: translateY(-25px);
    filter: drop-shadow(0px 4px 8px #ffccef) drop-shadow(0px 12px 28px #771166);
  }
}

@keyframes lightUp {
  0% {
    filter: drop-shadow(0px 4px 16px #ffccef) drop-shadow(0px 12px 24px #771166);
  }

  65% {
    filter: drop-shadow(0px 3px 8px #daccff) drop-shadow(0px 16px 18px #8a2e7a);
  }

  100% {
    filter: drop-shadow(0px 4px 16px #ffccef) drop-shadow(0px 12px 24px #771166);
  }
}

@keyframes wiggle {
  0% {
    transform: translateY(-25px) rotate(0deg);
  }

  20% {
    transform: translateY(-25px) rotate(-0.15deg);
  }

  40% {
    transform: translateY(-25px) rotate(0deg);
  }

  75% {
    transform: translateY(-25px) rotate(0.5deg);
  }

  100% {
    transform: translateY(-25px) rotate(0deg);
  }
}

/* When reseting _______________________ */

.Refresh div {
  margin-top: 200px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease-out;
  backface-visibility: hidden;
}

.Refresh div:first-child {
  z-index: 10;
  transform: rotateY(0);
}

.Refresh div:nth-child(2) {
  z-index: 1;
}

.Refresh img {
  width: 100%;
  transition: all 1s ease-out;
  transform-origin: center;
}

.Refresh:hover img {
  transform: scale(10%);
}
/*
Animations -------------------

*/
