body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@keyframes pushUp {
  0% {
    transform: translateY(0px);
  }

  65% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(-32px);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-1deg);
  }

  40% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* When reseting _______________________ */
.Refresh {
  width: 15vw;
  max-width: 400px;
  transition: all 0.5s;
  position: relative;
  filter: drop-shadow(0px 4px 16px transparent) drop-shadow(0px 12px 36px transparent);
  transition: filter 300ms ease-out;
  perspective: 2000px;
}

.Refresh:hover {
  filter: drop-shadow(0px 4px 8px #ffccef) drop-shadow(0px 12px 28px #771166);
  /* animation: pushUp 0.2s ease-out 0.1s 1 forwards, wiggle 1s ease-out 0.2s infinite; */
}

.Refresh div {
  margin-top: 200px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease-out;
  backface-visibility: hidden;
}

.Refresh div:first-child {
  z-index: 10;
  transform: rotateY(0);
}

.Refresh:hover div:first-child {
  transform: rotateY(-540deg);
}

.Refresh div:nth-child(2) {
  transform: rotateY(540deg);
  z-index: 1;
}

.Refresh:hover div:nth-child(2) {
  transform: rotateY(0);
}

.Refresh img {
  width: 100%;
  transition: all 1s ease-out;
  transform-origin: center;
}

.Refresh:hover img {
  transform: scale(10%);
}
/*
Animations -------------------

*/
